<p id="notice"><%= notice %></p>

<h1>Listing Ordetails</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Amount</th>
      <th>Comment</th>
      <th>User</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ordetails.each do |ordetail| %>
      <tr>
        <td><%= ordetail.item %></td>
        <td><%= ordetail.price %></td>
        <td><%= ordetail.amount %></td>
        <td><%= ordetail.comment %></td>
        <td><%= ordetail.user_id %></td>
        <td><%= ordetail.order_id %></td>
        <td><%= link_to 'Show', ordetail %></td>
        <td><%= link_to 'Edit', edit_ordetail_path(ordetail) %></td>
        <td><%= link_to 'Destroy', ordetail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ordetail', new_ordetail_path %>
