<p id="notice"><%= notice %></p>

<h1>Joined Orders</h1>

<table class='col-md-8 col-lg-8 col-sm-4 col-xs-12 table table-hover table-striped table-bordered'>
  <thead>
    <tr>
      <th>Order</th>
      <th>Resturant name</th>
      <th>Status</th>

      <th>Show</th>
    </tr>
  </thead>

  <tbody>
    <%  @orders.each do |order| %>
      <tr>
        <td><%=  order.for %></td>
        <td><%=  order.res_name %></td>
        <td><%=  order.status %></td>
        <td ><%= link_to 'Show', order ,:class => 'btn btn-default'%></td>

             </tr>
          
    <% end %>
  </tbody>
</table>

<br>
<div class="flickr_pagination">
    <div class="page_info">
      <%= page_entries_info @orders %>
    </div>
    <%= will_paginate @orders, :container => false %>
  </div>

