


<img class='img-thumbnail' width='200px' height='200px' src="<%= @user[0].avatar %>" />
<p><%= @user[0].name %></p>
<p><%= @user[0].email %></p>

<%= link_to  'edit','/users/edit' %> |

<%= link_to  'back' ,'/'%>


